.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top:16px;
}

#section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-grow: 1;
}


.spacer {
  height: 1px;
  background-color: #3a3737;
  margin: 24px 0;
}